# Transfermarkt Data Cleaning

### Content List
#### 1. Import libraries and datasets
#### 2. Data Checks - players.csv; clubs.csv; competitions.csv; appearances.csv
#### 3. Merging dataframes
#### 4. Subsetting from transfermarkt_df
#### 5. transfermarket_big5 data checks

### 1. Import Libraries and Datasets

In [1]:
#Import Libraries for data analysis
import pandas as pd
import numpy as np
import os

In [2]:
#Remove scientific notation
pd.options.display.float_format='{:.4f}'.format

In [3]:
#Dataset Import path
path = r'C:\Users\Utilizador\OneDrive\Documents\CareerFoundry - Data Analyst\Data Immersion\A6\24-03-2024 TransferMarkt'

In [4]:
#Import players.csv
players = pd.read_csv (os.path.join(path, '02 Data','Original Data','players.csv'), index_col = False)

In [5]:
#Import clubs.csv
clubs = pd.read_csv (os.path.join(path, '02 Data','Original Data','clubs.csv'), index_col = False)

In [6]:
#Import competitions.csv
compets = pd.read_csv (os.path.join(path, '02 Data','Original Data','competitions.csv'), index_col = False)

In [7]:
#Import appearances.csv
appear = pd.read_csv (os.path.join(path, '02 Data','Original Data','appearances.csv'), index_col = False)

### 2. Data Checks

#### players.csv data checks

In [8]:
players.shape

(30499, 23)

In [9]:
players.columns

Index(['player_id', 'first_name', 'last_name', 'name', 'last_season',
       'current_club_id', 'player_code', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'position',
       'foot', 'height_in_cm', 'contract_expiration_date', 'agent_name',
       'image_url', 'url', 'current_club_domestic_competition_id',
       'current_club_name', 'market_value_in_eur',
       'highest_market_value_in_eur'],
      dtype='object')

In [10]:
players.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0000,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0000,30000000.0000
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0000,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0000,8000000.0000
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0000,34500000.0000
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0000,24500000.0000
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0000,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0000,3000000.0000

In [11]:
players.tail()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
30494,1201580,Yusuf,Yılmaz,Yusuf Yılmaz,2023,6890,yusuf-yilmaz,Türkiye,Istanbul,Türkiye,...,right,193.0000,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/yusuf-yilmaz/p...,TR1,İstanbul Başakşehir Futbol Kulübü,50000.0000,50000.0000
30495,1214946,Sid Ahmed,Aissaoui,Sid Ahmed Aissaoui,2023,2410,sid-ahmed-aissaoui,Algeria,Blida,Algeria,...,right,183.0000,2026-06-30 00:00:00,Aniss Benchabane,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/sid-ahmed-aiss...,RU1,PFK CSKA Moskva,150000.0000,150000.0000
30496,1225269,Erdem,Çalık,Erdem Çalık,2023,3209,erdem-calik,Türkiye,Istanbul,Türkiye,...,right,NaN,2026-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/erdem-calik/pr...,TR1,Pendikspor,50000.0000,50000.0000
30497,1229924,Adama,Sidibeh,Adama Sidibeh,2023,2578,adama-sidibeh,NaN,NaN,The Gambia,...,NaN,NaN,2026-05-31 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/adama-sidibeh/...,SC1,Saint Johnstone Football Club,NaN,NaN
30498,1240762,Araphat,Mohammed,Araphat Mohammed,2023,2778,araphat-mohammed,NaN,NaN,Ghana,...,left,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/araphat-mohamm...,DK1,Fodbold Club Nordsjælland,NaN,NaN

In [12]:
#Delete columns not necessary for anaysis
player_df = players.drop (columns = ['first_name', 'last_name','player_code','country_of_birth','current_club_domestic_competition_id','agent_name','height_in_cm','contract_expiration_date','image_url', 'url','city_of_birth'])

In [13]:
#rename varaible 'name'
player_df.rename(columns={'name':'player_name'}, inplace = True)

In [14]:
player_df.columns

Index(['player_id', 'player_name', 'last_season', 'current_club_id',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'position',
       'foot', 'current_club_name', 'market_value_in_eur',
       'highest_market_value_in_eur'],
      dtype='object')

In [15]:
player_df.head()

,player_id,player_name,last_season,current_club_id,country_of_citizenship,date_of_birth,sub_position,position,foot,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav Klose,2015,398,Germany,1978-06-09,Centre-Forward,Attack,right,Società Sportiva Lazio S.p.A.,1000000.0000,30000000.0000
1,26,Roman Weidenfeller,2017,16,Germany,1980-08-06,Goalkeeper,Goalkeeper,left,Borussia Dortmund,750000.0000,8000000.0000
2,65,Dimitar Berbatov,2015,1091,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0000,34500000.0000
3,77,Lúcio,2012,506,Brazil,1978-05-08,Centre-Back,Defender,NaN,Juventus Football Club,200000.0000,24500000.0000
4,80,Tom Starke,2017,27,Germany,1981-03-18,Goalkeeper,Goalkeeper,right,FC Bayern München,100000.0000,3000000.0000

In [16]:
#check data types
player_df.dtypes

player_id                        int64
player_name                     object
last_season                      int64
current_club_id                  int64
country_of_citizenship          object
date_of_birth                   object
sub_position                    object
position                        object
foot                            object
current_club_name               object
market_value_in_eur            float64
highest_market_value_in_eur    float64
dtype: object

In [17]:
#check for mixed data types
for col in player_df.columns.tolist():
    weird = (player_df [[col]].map(type)!= player_df[[col]].iloc[0].apply (type)).any(axis = 1)
    if len (player_df[weird])>0:
        print(col)

country_of_citizenship
date_of_birth
sub_position
foot

In [18]:
#Data type correction of 'player_id','current_club_id',country_of_birth',country_of_citizenship','date_of_birth', 'foot' to string
player_df[['player_id','current_club_id','country_of_citizenship','date_of_birth', 'sub_position','foot']] = player_df[['player_id','current_club_id','country_of_citizenship','date_of_birth','sub_position','foot']].astype ('str')

In [19]:
player_df.dtypes

player_id                       object
player_name                     object
last_season                      int64
current_club_id                 object
country_of_citizenship          object
date_of_birth                   object
sub_position                    object
position                        object
foot                            object
current_club_name               object
market_value_in_eur            float64
highest_market_value_in_eur    float64
dtype: object

In [20]:
#check overall data information
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30499 entries, 0 to 30498
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    30499 non-null  object
 1   player_name                  30499 non-null  object
 2   last_season                  30499 non-null  int64
 3   current_club_id              30499 non-null  object
 4   country_of_citizenship       30499 non-null  object
 5   date_of_birth                30499 non-null  object
 6   sub_position                 30499 non-null  object
 7   position                     30499 non-null  object
 8   foot                         30499 non-null  object
 9   current_club_name            30499 non-null  object
 10  market_value_in_eur          29378 non-null  float64
 11  highest_market_value_in_eur  29378 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 2.8+ MB

In [21]:
#check summary stats
player_df.describe()

       last_season  market_value_in_eur  highest_market_value_in_eur
count   30499.0000           29378.0000                   29378.0000
mean     2018.7902         1595828.5111                 3676897.5083
std         3.6501         6210857.5469                 9541919.5984
min      2012.0000           10000.0000                   10000.0000
25%      2016.0000          100000.0000                  275000.0000
50%      2020.0000          250000.0000                  800000.0000
75%      2022.0000          650000.0000                 3000000.0000
max      2023.0000       180000000.0000               200000000.0000

In [22]:
#check player_df for duplicates
player_df_dups = player_df [player_df.duplicated()]

In [23]:
player_df_dups

Empty DataFrame
Columns: [player_id, player_name, last_season, current_club_id, country_of_citizenship, date_of_birth, sub_position, position, foot, current_club_name, market_value_in_eur, highest_market_value_in_eur]
Index: []

In [24]:
#checking for missing data in each variable
missing_values = player_df.isnull().sum()
print(missing_values)

player_id                         0
player_name                       0
last_season                       0
current_club_id                   0
country_of_citizenship            0
date_of_birth                     0
sub_position                      0
position                          0
foot                              0
current_club_name                 0
market_value_in_eur            1121
highest_market_value_in_eur    1121
dtype: int64

In [25]:
#Display data of missing values in 'sub_position'
nan_sub_position = player_df[player_df['sub_position'].isnull()==True]
nan_sub_position

Empty DataFrame
Columns: [player_id, player_name, last_season, current_club_id, country_of_citizenship, date_of_birth, sub_position, position, foot, current_club_name, market_value_in_eur, highest_market_value_in_eur]
Index: []

In [26]:
player_df['position'].value_counts(dropna=False)

position
Defender      9705
Midfield      8814
Attack        8306
Goalkeeper    3500
Missing        174
Name: count, dtype: int64

It seems that the players with missing 'sub_position' values also have missing 'position' values

In [27]:
#Display data of missing values in 'market_value_in_eur'
nan_market_value = player_df[player_df['market_value_in_eur'].isnull()==True]
nan_market_value

,player_id,player_name,last_season,current_club_id,country_of_citizenship,date_of_birth,sub_position,position,foot,current_club_name,market_value_in_eur,highest_market_value_in_eur
1344,15817,Patrick Deman,2014,601,Belgium,1968-07-31,Goalkeeper,Goalkeeper,nan,Koninklijke Voetbalclub Kortrijk,NaN,NaN
6945,85316,Kilian Falcón,2012,142,Spain,1992-09-28,Goalkeeper,Goalkeeper,nan,Real Zaragoza,NaN,NaN
6948,85326,Yeray Gómez,2014,3302,Spain,1992-06-10,Goalkeeper,Goalkeeper,nan,Unión Deportiva Almería S.A.D.,NaN,NaN
7247,90145,Anthony Senni,2014,29228,Belgium,1987-11-26,Left Midfield,Midfield,nan,Royal Excel Mouscron (-2022),NaN,NaN
7267,90587,Jerome Leblois,2014,29228,Belgium,1974-12-09,nan,Missing,nan,Royal Excel Mouscron (-2022),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
30467,1157420,Victor Udoh,2023,1096,Nigeria,2004-10-18,Centre-Forward,Attack,left,Royal Antwerp Football Club,NaN,NaN
30482,1169601,Thibau Loeman,2023,354,Belgium,2006-06-01,Centre-Back,Defender,right,Yellow-Red Koninklijke Voetbalclub Mechelen,NaN,NaN
30486,1176433,Abdoul Kader Ouattara,2023,520,Burkina Faso,2005-05-26,Centre-Forward,Attack,nan,Cercle Brugge Koninklijke Sportvereniging,NaN,NaN
30497,1229924,Adama Sidibeh,2023,2578,The Gambia,1998-06-25,Centre-Forward,Attack,nan,Saint Johnstone Football Club,NaN,NaN
30498,1240762,Araphat Mohammed,2023,2778,Ghana,2005-11-06,Central Midfield,Midfield,left,Fodbold Club Nordsjælland,NaN,NaN

In [28]:
#Display data of missing values in 'highest_market_value_in_eur'
nan_highest_market_value = player_df[player_df['highest_market_value_in_eur'].isnull()==True]
nan_highest_market_value

,player_id,player_name,last_season,current_club_id,country_of_citizenship,date_of_birth,sub_position,position,foot,current_club_name,market_value_in_eur,highest_market_value_in_eur
1344,15817,Patrick Deman,2014,601,Belgium,1968-07-31,Goalkeeper,Goalkeeper,nan,Koninklijke Voetbalclub Kortrijk,NaN,NaN
6945,85316,Kilian Falcón,2012,142,Spain,1992-09-28,Goalkeeper,Goalkeeper,nan,Real Zaragoza,NaN,NaN
6948,85326,Yeray Gómez,2014,3302,Spain,1992-06-10,Goalkeeper,Goalkeeper,nan,Unión Deportiva Almería S.A.D.,NaN,NaN
7247,90145,Anthony Senni,2014,29228,Belgium,1987-11-26,Left Midfield,Midfield,nan,Royal Excel Mouscron (-2022),NaN,NaN
7267,90587,Jerome Leblois,2014,29228,Belgium,1974-12-09,nan,Missing,nan,Royal Excel Mouscron (-2022),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
30467,1157420,Victor Udoh,2023,1096,Nigeria,2004-10-18,Centre-Forward,Attack,left,Royal Antwerp Football Club,NaN,NaN
30482,1169601,Thibau Loeman,2023,354,Belgium,2006-06-01,Centre-Back,Defender,right,Yellow-Red Koninklijke Voetbalclub Mechelen,NaN,NaN
30486,1176433,Abdoul Kader Ouattara,2023,520,Burkina Faso,2005-05-26,Centre-Forward,Attack,nan,Cercle Brugge Koninklijke Sportvereniging,NaN,NaN
30497,1229924,Adama Sidibeh,2023,2578,The Gambia,1998-06-25,Centre-Forward,Attack,nan,Saint Johnstone Football Club,NaN,NaN
30498,1240762,Araphat Mohammed,2023,2778,Ghana,2005-11-06,Central Midfield,Midfield,left,Fodbold Club Nordsjælland,NaN,NaN

The missing 1121 values in 'market_value_in_eur' and 'highest_value_in_eur' are for the same observations

Once all datasets have been merged and subset to the players that need to be analysed, if these missing values are still within that subset I will then address them.

In [29]:
player_df.shape

(30499, 12)

In [30]:
#Export cleaned players_df
player_df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_players.csv'))

#### clubs.csv data check

In [31]:
clubs.shape

(426, 17)

In [32]:
clubs.columns

Index(['club_id', 'club_code', 'name', 'domestic_competition_id',
       'total_market_value', 'squad_size', 'average_age', 'foreigners_number',
       'foreigners_percentage', 'national_team_players', 'stadium_name',
       'stadium_seats', 'net_transfer_record', 'coach_name', 'last_season',
       'filename', 'url'],
      dtype='object')

In [33]:
clubs.head()

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url
0,105,sv-darmstadt-98,Sportverein Darmstadt 1898 e. V.,L1,NaN,31,26.6000,11,35.5000,1,Merck-Stadion am Böllenfalltor,17810,€-1.48m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,FK Ural Yekaterinburg,RU1,NaN,27,27.9000,15,55.6000,6,Yekaterinburg Arena,23000,€-895k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,35,26.7000,17,48.6000,13,Tüpraş Stadyumu,42590,€-26.00m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,26.9000,18,69.2000,16,Olimpico di Roma,73261,+€63.00m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,26,25.4000,20,76.9000,21,Tottenham Hotspur Stadium,62850,€-151.40m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/tottenham-hots...

In [34]:
#Delete columns not necessary for anaysis
clubs_df = clubs.drop (columns = ['club_code',
       'total_market_value', 'squad_size', 'average_age', 'foreigners_number',
       'foreigners_percentage', 'national_team_players', 'stadium_name',
       'stadium_seats', 'net_transfer_record', 'coach_name', 'last_season',
       'filename', 'url'])

In [35]:
#rename varaible 'name'
clubs_df.rename(columns={'name':'club_name'}, inplace = True)

In [36]:
clubs_df.columns

Index(['club_id', 'club_name', 'domestic_competition_id'], dtype='object')

In [37]:
clubs_df.dtypes

club_id                     int64
club_name                  object
domestic_competition_id    object
dtype: object

In [38]:
#check for mixed data types
for col in clubs_df.columns.tolist():
    weird = (clubs_df [[col]].map(type)!= clubs_df[[col]].iloc[0].apply (type)).any(axis = 1)
    if len (clubs_df[weird])>0:
        print(col)

In [39]:
#Data type correction of 'club_id' to string
clubs_df['club_id'] = clubs_df['club_id'].astype ('str')

In [40]:
#check corrected data types
clubs_df.dtypes

club_id                    object
club_name                  object
domestic_competition_id    object
dtype: object

In [41]:
clubs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club_id                  426 non-null    object
 1   club_name                426 non-null    object
 2   domestic_competition_id  426 non-null    object
dtypes: object(3)
memory usage: 10.1+ KB

In [42]:
clubs_df.describe()

       club_id                         club_name domestic_competition_id
count      426                               426                     426
unique     426                               426                      14
top        105  Sportverein Darmstadt 1898 e. V.                     TR1
freq         1                                 1                      40

In [43]:
#check clubs_df for duplicates
clubs_df_dups = clubs_df [clubs_df.duplicated()]
clubs_df_dups

Empty DataFrame
Columns: [club_id, club_name, domestic_competition_id]
Index: []

In [44]:
#Check for missing data in each variable
missing_club_values = clubs_df.isnull().sum()
print(missing_club_values)

club_id                    0
club_name                  0
domestic_competition_id    0
dtype: int64

In [45]:
clubs_df.shape

(426, 3)

In [46]:
#Export cleaned clubs_df
clubs_df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_clubs.csv'))

#### competitions.csv data cheks

In [47]:
compets.shape

(43, 11)

In [48]:
compets.columns

Index(['competition_id', 'competition_code', 'name', 'sub_type', 'type',
       'country_id', 'country_name', 'domestic_league_code', 'confederation',
       'url', 'is_major_national_league'],
      dtype='object')

In [49]:
compets.head()

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url,is_major_national_league
0,CIT,italy-cup,italy-cup,domestic_cup,domestic_cup,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/italy-cup/star...,False
1,NLSC,johan-cruijff-schaal,johan-cruijff-schaal,domestic_super_cup,other,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/johan-cruijff-...,False
2,GRP,kypello-elladas,kypello-elladas,domestic_cup,domestic_cup,56,Greece,GR1,europa,https://www.transfermarkt.co.uk/kypello-ellada...,False
3,POSU,supertaca-candido-de-oliveira,supertaca-candido-de-oliveira,domestic_super_cup,other,136,Portugal,PO1,europa,https://www.transfermarkt.co.uk/supertaca-cand...,False
4,RUSS,russian-super-cup,russian-super-cup,domestic_super_cup,other,141,Russia,RU1,europa,https://www.transfermarkt.co.uk/russian-super-...,False

In [50]:
compets.tail()

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url,is_major_national_league
38,DFL,dfl-supercup,dfl-supercup,domestic_super_cup,other,40,Germany,L1,europa,https://www.transfermarkt.co.uk/dfl-supercup/s...,False
39,SFA,sfa-cup,sfa-cup,domestic_cup,domestic_cup,190,Scotland,SC1,europa,https://www.transfermarkt.co.uk/sfa-cup/starts...,False
40,UKRP,ukrainian-cup,ukrainian-cup,domestic_cup,domestic_cup,177,Ukraine,UKR1,europa,https://www.transfermarkt.co.uk/ukrainian-cup/...,False
41,DFB,dfb-pokal,dfb-pokal,domestic_cup,domestic_cup,40,Germany,L1,europa,https://www.transfermarkt.co.uk/dfb-pokal/star...,False
42,FRCH,trophee-des-champions,trophee-des-champions,domestic_super_cup,other,50,France,FR1,europa,https://www.transfermarkt.co.uk/trophee-des-ch...,False

In [51]:
#Delete columns not necessary for anaysis
compets_df = compets.drop (columns = ['competition_code','url','country_id','sub_type', 'type'])

In [52]:
#rename varaible 'name'
compets_df.rename(columns={'name':'competition_name'}, inplace = True)

In [53]:
#rename varaible 'country_name'
compets_df.rename(columns={'country_name':'competition_country'}, inplace = True)

In [54]:
compets_df.columns

Index(['competition_id', 'competition_name', 'competition_country',
       'domestic_league_code', 'confederation', 'is_major_national_league'],
      dtype='object')

In [55]:
#check for mixed data types
for col in compets_df.columns.tolist():
    weird = (compets_df [[col]].map(type)!= compets_df[[col]].iloc[0].apply (type)).any(axis = 1)
    if len (compets_df[weird])>0:
        print(col)

competition_country
domestic_league_code

In [56]:
compets_df.dtypes

competition_id              object
competition_name            object
competition_country         object
domestic_league_code        object
confederation               object
is_major_national_league      bool
dtype: object

In [57]:
#Data type correction of 'country_name' and 'domestic_league_code' to string
compets_df[['competition_country','domestic_league_code']] = compets_df[['competition_country','domestic_league_code']].astype ('str')

In [58]:
compets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   competition_id            43 non-null     object
 1   competition_name          43 non-null     object
 2   competition_country       43 non-null     object
 3   domestic_league_code      43 non-null     object
 4   confederation             43 non-null     object
 5   is_major_national_league  43 non-null     bool
dtypes: bool(1), object(5)
memory usage: 1.9+ KB

In [59]:
compets_df.describe()

,competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league
count,43,43,43,43,43,43
unique,43,42,15,15,1,2
top,CIT,premier-liga,nan,nan,europa,False
freq,1,2,7,7,43,38

In [60]:
#check compets_df for duplicates
compets_df_dups = compets_df [compets_df.duplicated()]
compets_df_dups

Empty DataFrame
Columns: [competition_id, competition_name, competition_country, domestic_league_code, confederation, is_major_national_league]
Index: []

In [61]:
#check for missing data in each variable
missing_compets_values = compets_df.isnull().sum()
missing_compets_values

competition_id              0
competition_name            0
competition_country         0
domestic_league_code        0
confederation               0
is_major_national_league    0
dtype: int64

In [62]:
compets_df.shape

(43, 6)

In [63]:
#Export cleaned compets_df
compets_df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_competitions.csv'))

#### appearances.csv data checks

In [64]:
appear.shape

(1556969, 13)

In [65]:
appear.columns

Index(['appearance_id', 'game_id', 'player_id', 'player_club_id',
       'player_current_club_id', 'date', 'player_name', 'competition_id',
       'yellow_cards', 'red_cards', 'goals', 'assists', 'minutes_played'],
      dtype='object')

In [66]:
appear.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90

In [67]:
appear.tail()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
1556964,4300788_632349,4300788,632349,31,31,2024-03-17,Jarell Quansah,FAC,0,0,0,0,120
1556965,4300788_69633,4300788,69633,985,985,2024-03-17,Christian Eriksen,FAC,0,0,0,0,40
1556966,4300788_712117,4300788,712117,31,31,2024-03-17,Bobby Clark,FAC,0,0,0,0,6
1556967,4300788_811779,4300788,811779,985,985,2024-03-17,Alejandro Garnacho,FAC,0,0,0,1,120
1556968,4300788_820374,4300788,820374,985,985,2024-03-17,Kobbie Mainoo,FAC,0,0,0,0,80

In [68]:
#Delete columns not necessary for anaysis
appear_df = appear.drop (columns = ['game_id','yellow_cards','red_cards','goals','assists','minutes_played'])

In [69]:
#rename varaible 'player_current_club_id'
appear_df.rename(columns={'player_current_club_id':'current_club_id'}, inplace = True)

In [70]:
#rename varaible 'player_club_id'
appear_df.rename(columns={'player_club_id':'club_id'}, inplace = True)

In [71]:
appear_df.columns

Index(['appearance_id', 'player_id', 'club_id', 'current_club_id', 'date',
       'player_name', 'competition_id'],
      dtype='object')

In [72]:
appear_df.head()

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id
0,2231978_38004,38004,853,235,2012-07-03,Aurélien Joachim,CLQ
1,2233748_79232,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ
2,2234413_42792,42792,6251,465,2012-07-05,Sander Puri,ELQ
3,2234418_73333,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ
4,2234421_122011,122011,195,3008,2012-07-05,Markus Henriksen,ELQ

In [73]:
appear_df.tail()

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id
1556964,4300788_632349,632349,31,31,2024-03-17,Jarell Quansah,FAC
1556965,4300788_69633,69633,985,985,2024-03-17,Christian Eriksen,FAC
1556966,4300788_712117,712117,31,31,2024-03-17,Bobby Clark,FAC
1556967,4300788_811779,811779,985,985,2024-03-17,Alejandro Garnacho,FAC
1556968,4300788_820374,820374,985,985,2024-03-17,Kobbie Mainoo,FAC

In [74]:
#check for mixed data types
for col in appear_df.columns.tolist():
    weird = (appear_df [[col]].map(type)!= appear_df[[col]].iloc[0].apply (type)).any(axis = 1)
    if len (appear_df[weird])>0:
        print(col)

player_name

In [75]:
# check data types
appear_df.dtypes

appearance_id      object
player_id           int64
club_id             int64
current_club_id     int64
date               object
player_name        object
competition_id     object
dtype: object

In [76]:
#Data type correction of 'player_id','club_id','current_club_id' & 'player_name' to string
appear_df[['player_id','club_id','current_club_id', 'player_name']] = appear_df[['player_id','club_id','current_club_id', 'player_name']].astype ('str')

In [77]:
#check data tyoe correction
appear_df.dtypes

appearance_id      object
player_id          object
club_id            object
current_club_id    object
date               object
player_name        object
competition_id     object
dtype: object

In [78]:
appear_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556969 entries, 0 to 1556968
Data columns (total 7 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   appearance_id    1556969 non-null  object
 1   player_id        1556969 non-null  object
 2   club_id          1556969 non-null  object
 3   current_club_id  1556969 non-null  object
 4   date             1556969 non-null  object
 5   player_name      1556969 non-null  object
 6   competition_id   1556969 non-null  object
dtypes: object(7)
memory usage: 83.2+ MB

In [79]:
appear_df.describe()

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id
count,1556969,1556969,1556969,1556969,1556969,1556969,1556969
unique,1556969,24010,1030,425,3441,23515,43
top,2231978_38004,38253,368,683,2020-10-04,Danilo,IT1
freq,1,557,9374,10701,1795,1068,128302

In [80]:
#check appear_df for duplicates
appear_df_dups = appear_df [appear_df.duplicated()]
appear_df_dups

Empty DataFrame
Columns: [appearance_id, player_id, club_id, current_club_id, date, player_name, competition_id]
Index: []

In [81]:
#check for missing data in each variable
missing_appear_values = appear_df.isnull().sum()
missing_appear_values

appearance_id      0
player_id          0
club_id            0
current_club_id    0
date               0
player_name        0
competition_id     0
dtype: int64

In [82]:
appear_df.shape

(1556969, 7)

In [83]:
#Export cleaned appear_df
appear_df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_appearances.csv'))

### 3. Merging dataframes

#### Merge of appearances.csv and players.csv

In [84]:
#test left join merge 
pd.merge(appear_df, player_df, how ='left', on = ['player_id','player_name','current_club_id'], indicator =True)

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,sub_position,position,foot,current_club_name,market_value_in_eur,highest_market_value_in_eur,_merge
0,2231978_38004,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,2013.0000,Luxembourg,1986-08-10,Centre-Forward,Attack,left,Rooms Katholieke Combinatie Waalwijk,75000.0000,600000.0000,both
1,2233748_79232,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,2013.0000,Azerbaijan,1987-10-10,Centre-Back,Defender,right,FC Rubin Kazan,25000.0000,450000.0000,both
2,2234413_42792,42792,6251,465,2012-07-05,Sander Puri,ELQ,2012.0000,Estonia,1988-05-07,Central Midfield,Midfield,right,Saint Mirren Football Club,100000.0000,600000.0000,both
3,2234418_73333,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,2021.0000,Norway,1991-06-26,Right-Back,Defender,right,Fatih Karagümrük Sportif Faaliyetler San. Tic....,350000.0000,1500000.0000,both
4,2234421_122011,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,2016.0000,Norway,1992-07-25,Centre-Back,Defender,right,Hull City,800000.0000,5000000.0000,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556964,4300788_632349,632349,31,31,2024-03-17,Jarell Quansah,FAC,2023.0000,England,2003-01-29,Centre-Back,Defender,right,Liverpool Football Club,12000000.0000,12000000.0000,both
1556965,4300788_69633,69633,985,985,2024-03-17,Christian Eriksen,FAC,2023.0000,Denmark,1992-02-14,Central Midfield,Midfield,right,Manchester United Football Club,10000000.0000,100000000.0000,both
1556966,4300788_712117,712117,31,31,2024-03-17,Bobby Clark,FAC,2023.0000,England,2005-02-07,Central Midfield,Midfield,right,Liverpool Football Club,1000000.0000,1000000.0000,both
1556967,4300788_811779,811779,985,985,2024-03-17,Alejandro Garnacho,FAC,2023.0000,Argentina,2004-07-01,Left Winger,Attack,right,Manchester United Football Club,40000000.0000,40000000.0000,both
1556968,4300788_820374,820374,985,985,2024-03-17,Kobbie Mainoo,FAC,2023.0000,England,2005-04-19,Central Midfield,Midfield,right,Manchester United Football Club,35000000.0000,35000000.0000,both

In [85]:
# left join merge of appear_df and player_df
player_appear = appear_df.merge(player_df, how ='left', on = ['player_id','player_name','current_club_id'], indicator =True)
player_appear

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,sub_position,position,foot,current_club_name,market_value_in_eur,highest_market_value_in_eur,_merge
0,2231978_38004,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,2013.0000,Luxembourg,1986-08-10,Centre-Forward,Attack,left,Rooms Katholieke Combinatie Waalwijk,75000.0000,600000.0000,both
1,2233748_79232,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,2013.0000,Azerbaijan,1987-10-10,Centre-Back,Defender,right,FC Rubin Kazan,25000.0000,450000.0000,both
2,2234413_42792,42792,6251,465,2012-07-05,Sander Puri,ELQ,2012.0000,Estonia,1988-05-07,Central Midfield,Midfield,right,Saint Mirren Football Club,100000.0000,600000.0000,both
3,2234418_73333,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,2021.0000,Norway,1991-06-26,Right-Back,Defender,right,Fatih Karagümrük Sportif Faaliyetler San. Tic....,350000.0000,1500000.0000,both
4,2234421_122011,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,2016.0000,Norway,1992-07-25,Centre-Back,Defender,right,Hull City,800000.0000,5000000.0000,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556964,4300788_632349,632349,31,31,2024-03-17,Jarell Quansah,FAC,2023.0000,England,2003-01-29,Centre-Back,Defender,right,Liverpool Football Club,12000000.0000,12000000.0000,both
1556965,4300788_69633,69633,985,985,2024-03-17,Christian Eriksen,FAC,2023.0000,Denmark,1992-02-14,Central Midfield,Midfield,right,Manchester United Football Club,10000000.0000,100000000.0000,both
1556966,4300788_712117,712117,31,31,2024-03-17,Bobby Clark,FAC,2023.0000,England,2005-02-07,Central Midfield,Midfield,right,Liverpool Football Club,1000000.0000,1000000.0000,both
1556967,4300788_811779,811779,985,985,2024-03-17,Alejandro Garnacho,FAC,2023.0000,Argentina,2004-07-01,Left Winger,Attack,right,Manchester United Football Club,40000000.0000,40000000.0000,both
1556968,4300788_820374,820374,985,985,2024-03-17,Kobbie Mainoo,FAC,2023.0000,England,2005-04-19,Central Midfield,Midfield,right,Manchester United Football Club,35000000.0000,35000000.0000,both

In [86]:
player_appear['_merge'].value_counts()

_merge
both          1556963
left_only           6
right_only          0
Name: count, dtype: int64

In [87]:
player_appear[player_appear['_merge'] == 'left_only']

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,sub_position,position,foot,current_club_name,market_value_in_eur,highest_market_value_in_eur,_merge
798791,3084062_380365,380365,16486,-1,2018-09-05,nan,CDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
798866,3084059_411294,411294,3302,-1,2018-09-11,nan,CDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
798899,3084057_255495,255495,11596,-1,2018-09-12,nan,CDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
798914,3102749_380365,380365,16486,-1,2018-09-12,nan,CDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
815941,3106648_255495,255495,11596,-1,2018-10-17,nan,CDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
840555,3118604_411294,411294,3302,-1,2018-12-05,nan,CDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [88]:
player_appear.shape

(1556969, 17)

In [89]:
#Export merged dataframe
player_appear.to_pickle(os.path.join(path, '02 Data','Prepared Data','players_appearances.pkl'))

#### Merge of player_appearances.csv and clubs.csv

In [90]:
#Delete '_merge' column before the new merge
player_appear_df = player_appear.drop (columns = ['_merge'])

In [91]:
#test left join merge 
pd.merge(player_appear_df, clubs_df, how ='left', on = ['club_id'], indicator =True)

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,sub_position,position,foot,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,_merge
0,2231978_38004,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,2013.0000,Luxembourg,1986-08-10,Centre-Forward,Attack,left,Rooms Katholieke Combinatie Waalwijk,75000.0000,600000.0000,NaN,NaN,left_only
1,2233748_79232,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,2013.0000,Azerbaijan,1987-10-10,Centre-Back,Defender,right,FC Rubin Kazan,25000.0000,450000.0000,NaN,NaN,left_only
2,2234413_42792,42792,6251,465,2012-07-05,Sander Puri,ELQ,2012.0000,Estonia,1988-05-07,Central Midfield,Midfield,right,Saint Mirren Football Club,100000.0000,600000.0000,NaN,NaN,left_only
3,2234418_73333,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,2021.0000,Norway,1991-06-26,Right-Back,Defender,right,Fatih Karagümrük Sportif Faaliyetler San. Tic....,350000.0000,1500000.0000,NaN,NaN,left_only
4,2234421_122011,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,2016.0000,Norway,1992-07-25,Centre-Back,Defender,right,Hull City,800000.0000,5000000.0000,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556964,4300788_632349,632349,31,31,2024-03-17,Jarell Quansah,FAC,2023.0000,England,2003-01-29,Centre-Back,Defender,right,Liverpool Football Club,12000000.0000,12000000.0000,Liverpool Football Club,GB1,both
1556965,4300788_69633,69633,985,985,2024-03-17,Christian Eriksen,FAC,2023.0000,Denmark,1992-02-14,Central Midfield,Midfield,right,Manchester United Football Club,10000000.0000,100000000.0000,Manchester United Football Club,GB1,both
1556966,4300788_712117,712117,31,31,2024-03-17,Bobby Clark,FAC,2023.0000,England,2005-02-07,Central Midfield,Midfield,right,Liverpool Football Club,1000000.0000,1000000.0000,Liverpool Football Club,GB1,both
1556967,4300788_811779,811779,985,985,2024-03-17,Alejandro Garnacho,FAC,2023.0000,Argentina,2004-07-01,Left Winger,Attack,right,Manchester United Football Club,40000000.0000,40000000.0000,Manchester United Football Club,GB1,both
1556968,4300788_820374,820374,985,985,2024-03-17,Kobbie Mainoo,FAC,2023.0000,England,2005-04-19,Central Midfield,Midfield,right,Manchester United Football Club,35000000.0000,35000000.0000,Manchester United Football Club,GB1,both

In [92]:
#left join merge of player_appear and clubs_df
player_club_appear = player_appear_df.merge(clubs_df, how ='left', on = ['club_id'], indicator =True)
player_club_appear

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,sub_position,position,foot,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,_merge
0,2231978_38004,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,2013.0000,Luxembourg,1986-08-10,Centre-Forward,Attack,left,Rooms Katholieke Combinatie Waalwijk,75000.0000,600000.0000,NaN,NaN,left_only
1,2233748_79232,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,2013.0000,Azerbaijan,1987-10-10,Centre-Back,Defender,right,FC Rubin Kazan,25000.0000,450000.0000,NaN,NaN,left_only
2,2234413_42792,42792,6251,465,2012-07-05,Sander Puri,ELQ,2012.0000,Estonia,1988-05-07,Central Midfield,Midfield,right,Saint Mirren Football Club,100000.0000,600000.0000,NaN,NaN,left_only
3,2234418_73333,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,2021.0000,Norway,1991-06-26,Right-Back,Defender,right,Fatih Karagümrük Sportif Faaliyetler San. Tic....,350000.0000,1500000.0000,NaN,NaN,left_only
4,2234421_122011,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,2016.0000,Norway,1992-07-25,Centre-Back,Defender,right,Hull City,800000.0000,5000000.0000,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556964,4300788_632349,632349,31,31,2024-03-17,Jarell Quansah,FAC,2023.0000,England,2003-01-29,Centre-Back,Defender,right,Liverpool Football Club,12000000.0000,12000000.0000,Liverpool Football Club,GB1,both
1556965,4300788_69633,69633,985,985,2024-03-17,Christian Eriksen,FAC,2023.0000,Denmark,1992-02-14,Central Midfield,Midfield,right,Manchester United Football Club,10000000.0000,100000000.0000,Manchester United Football Club,GB1,both
1556966,4300788_712117,712117,31,31,2024-03-17,Bobby Clark,FAC,2023.0000,England,2005-02-07,Central Midfield,Midfield,right,Liverpool Football Club,1000000.0000,1000000.0000,Liverpool Football Club,GB1,both
1556967,4300788_811779,811779,985,985,2024-03-17,Alejandro Garnacho,FAC,2023.0000,Argentina,2004-07-01,Left Winger,Attack,right,Manchester United Football Club,40000000.0000,40000000.0000,Manchester United Football Club,GB1,both
1556968,4300788_820374,820374,985,985,2024-03-17,Kobbie Mainoo,FAC,2023.0000,England,2005-04-19,Central Midfield,Midfield,right,Manchester United Football Club,35000000.0000,35000000.0000,Manchester United Football Club,GB1,both

In [93]:
#check counts of merge lag
player_club_appear['_merge'].value_counts()

_merge
both          1549442
left_only        7527
right_only          0
Name: count, dtype: int64

In [94]:
player_club_appear[player_club_appear['_merge'] == 'left_only']

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,sub_position,position,foot,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,_merge
0,2231978_38004,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,2013.0000,Luxembourg,1986-08-10,Centre-Forward,Attack,left,Rooms Katholieke Combinatie Waalwijk,75000.0000,600000.0000,NaN,NaN,left_only
1,2233748_79232,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,2013.0000,Azerbaijan,1987-10-10,Centre-Back,Defender,right,FC Rubin Kazan,25000.0000,450000.0000,NaN,NaN,left_only
2,2234413_42792,42792,6251,465,2012-07-05,Sander Puri,ELQ,2012.0000,Estonia,1988-05-07,Central Midfield,Midfield,right,Saint Mirren Football Club,100000.0000,600000.0000,NaN,NaN,left_only
3,2234418_73333,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,2021.0000,Norway,1991-06-26,Right-Back,Defender,right,Fatih Karagümrük Sportif Faaliyetler San. Tic....,350000.0000,1500000.0000,NaN,NaN,left_only
4,2234421_122011,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,2016.0000,Norway,1992-07-25,Centre-Back,Defender,right,Hull City,800000.0000,5000000.0000,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519987,4246468_712099,712099,1194,43,2024-01-05,Dexter Lembikisa,FAC,2023.0000,Jamaica,2003-11-04,Right-Back,Defender,right,Heart of Midlothian Football Club,3000000.0000,3000000.0000,NaN,NaN,left_only
1520480,4246475_744149,744149,164,873,2024-01-06,Adam Wharton,FAC,2023.0000,England,2004-02-06,Central Midfield,Midfield,left,Crystal Palace Football Club,20000000.0000,20000000.0000,NaN,NaN,left_only
1520497,4246480_626888,626888,2262,405,2024-01-06,Kaine Kesler-Hayden,FAC,2023.0000,England,2002-10-23,Right-Back,Defender,right,Aston Villa Football Club,2200000.0000,2200000.0000,NaN,NaN,left_only
1520559,4246488_714459,714459,3697,511,2024-01-06,Michael Mellon,FAC,2023.0000,Scotland,2003-12-05,Centre-Forward,Attack,nan,Dundee Football Club,300000.0000,300000.0000,NaN,NaN,left_only
1521138,4240841_409886,409886,7077,2425,2024-01-07,Úmaro Embaló,CDR,2023.0000,Portugal,2001-05-06,Right Winger,Attack,left,Rio Ave Futebol Clube,1000000.0000,1500000.0000,NaN,NaN,left_only

In [95]:
player_club_appear.shape

(1556969, 19)

In [96]:
#Export merged dataframe
player_club_appear.to_pickle(os.path.join(path, '02 Data','Prepared Data','players_clubs_appearances.pkl'))

#### Merge of player_club_appearances.csv and competitions.csv

In [97]:
#Delete '_merge' column before the new merge
player_club_appear_df = player_club_appear.drop (columns = ['_merge'])

In [98]:
#Test left join merge 
pd.merge(player_club_appear_df, compets_df, how ='left', on = ['competition_id'], indicator =True)

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,...,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league,_merge
0,2231978_38004,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,2013.0000,Luxembourg,1986-08-10,...,75000.0000,600000.0000,NaN,NaN,uefa-champions-league-qualifikation,nan,nan,europa,False,both
1,2233748_79232,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,2013.0000,Azerbaijan,1987-10-10,...,25000.0000,450000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False,both
2,2234413_42792,42792,6251,465,2012-07-05,Sander Puri,ELQ,2012.0000,Estonia,1988-05-07,...,100000.0000,600000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False,both
3,2234418_73333,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,2021.0000,Norway,1991-06-26,...,350000.0000,1500000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False,both
4,2234421_122011,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,2016.0000,Norway,1992-07-25,...,800000.0000,5000000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556964,4300788_632349,632349,31,31,2024-03-17,Jarell Quansah,FAC,2023.0000,England,2003-01-29,...,12000000.0000,12000000.0000,Liverpool Football Club,GB1,fa-cup,England,GB1,europa,False,both
1556965,4300788_69633,69633,985,985,2024-03-17,Christian Eriksen,FAC,2023.0000,Denmark,1992-02-14,...,10000000.0000,100000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False,both
1556966,4300788_712117,712117,31,31,2024-03-17,Bobby Clark,FAC,2023.0000,England,2005-02-07,...,1000000.0000,1000000.0000,Liverpool Football Club,GB1,fa-cup,England,GB1,europa,False,both
1556967,4300788_811779,811779,985,985,2024-03-17,Alejandro Garnacho,FAC,2023.0000,Argentina,2004-07-01,...,40000000.0000,40000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False,both
1556968,4300788_820374,820374,985,985,2024-03-17,Kobbie Mainoo,FAC,2023.0000,England,2005-04-19,...,35000000.0000,35000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False,both

In [99]:
#left join merge of player_appear and clubs_df
transfermarkt = player_club_appear_df.merge(compets_df, how ='left', on = ['competition_id'], indicator =True)
transfermarkt

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,...,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league,_merge
0,2231978_38004,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,2013.0000,Luxembourg,1986-08-10,...,75000.0000,600000.0000,NaN,NaN,uefa-champions-league-qualifikation,nan,nan,europa,False,both
1,2233748_79232,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,2013.0000,Azerbaijan,1987-10-10,...,25000.0000,450000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False,both
2,2234413_42792,42792,6251,465,2012-07-05,Sander Puri,ELQ,2012.0000,Estonia,1988-05-07,...,100000.0000,600000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False,both
3,2234418_73333,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,2021.0000,Norway,1991-06-26,...,350000.0000,1500000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False,both
4,2234421_122011,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,2016.0000,Norway,1992-07-25,...,800000.0000,5000000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556964,4300788_632349,632349,31,31,2024-03-17,Jarell Quansah,FAC,2023.0000,England,2003-01-29,...,12000000.0000,12000000.0000,Liverpool Football Club,GB1,fa-cup,England,GB1,europa,False,both
1556965,4300788_69633,69633,985,985,2024-03-17,Christian Eriksen,FAC,2023.0000,Denmark,1992-02-14,...,10000000.0000,100000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False,both
1556966,4300788_712117,712117,31,31,2024-03-17,Bobby Clark,FAC,2023.0000,England,2005-02-07,...,1000000.0000,1000000.0000,Liverpool Football Club,GB1,fa-cup,England,GB1,europa,False,both
1556967,4300788_811779,811779,985,985,2024-03-17,Alejandro Garnacho,FAC,2023.0000,Argentina,2004-07-01,...,40000000.0000,40000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False,both
1556968,4300788_820374,820374,985,985,2024-03-17,Kobbie Mainoo,FAC,2023.0000,England,2005-04-19,...,35000000.0000,35000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False,both

In [100]:
#check counts of merge lag
transfermarkt['_merge'].value_counts()

_merge
both          1556969
left_only           0
right_only          0
Name: count, dtype: int64

In [101]:
transfermarkt.shape

(1556969, 24)

In [102]:
#Delete '_merge' column before export
transfermarkt_df = transfermarkt.drop (columns = ['_merge'])

In [103]:
#Export merged dataframe
transfermarkt_df.to_pickle(os.path.join(path, '02 Data','Prepared Data','transfermarket.pkl'))

### 4. Subsetting from transfermarket_df

In [104]:
transfermarkt.columns

Index(['appearance_id', 'player_id', 'club_id', 'current_club_id', 'date',
       'player_name', 'competition_id', 'last_season',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'position',
       'foot', 'current_club_name', 'market_value_in_eur',
       'highest_market_value_in_eur', 'club_name', 'domestic_competition_id',
       'competition_name', 'competition_country', 'domestic_league_code',
       'confederation', 'is_major_national_league', '_merge'],
      dtype='object')

In [105]:
transfermarkt_df.head()

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,...,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league
0,2231978_38004,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,2013.0000,Luxembourg,1986-08-10,...,Rooms Katholieke Combinatie Waalwijk,75000.0000,600000.0000,NaN,NaN,uefa-champions-league-qualifikation,nan,nan,europa,False
1,2233748_79232,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,2013.0000,Azerbaijan,1987-10-10,...,FC Rubin Kazan,25000.0000,450000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False
2,2234413_42792,42792,6251,465,2012-07-05,Sander Puri,ELQ,2012.0000,Estonia,1988-05-07,...,Saint Mirren Football Club,100000.0000,600000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False
3,2234418_73333,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,2021.0000,Norway,1991-06-26,...,Fatih Karagümrük Sportif Faaliyetler San. Tic....,350000.0000,1500000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False
4,2234421_122011,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,2016.0000,Norway,1992-07-25,...,Hull City,800000.0000,5000000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False

In [106]:
transfermarkt_df.tail()

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,...,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league
1556964,4300788_632349,632349,31,31,2024-03-17,Jarell Quansah,FAC,2023.0000,England,2003-01-29,...,Liverpool Football Club,12000000.0000,12000000.0000,Liverpool Football Club,GB1,fa-cup,England,GB1,europa,False
1556965,4300788_69633,69633,985,985,2024-03-17,Christian Eriksen,FAC,2023.0000,Denmark,1992-02-14,...,Manchester United Football Club,10000000.0000,100000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False
1556966,4300788_712117,712117,31,31,2024-03-17,Bobby Clark,FAC,2023.0000,England,2005-02-07,...,Liverpool Football Club,1000000.0000,1000000.0000,Liverpool Football Club,GB1,fa-cup,England,GB1,europa,False
1556967,4300788_811779,811779,985,985,2024-03-17,Alejandro Garnacho,FAC,2023.0000,Argentina,2004-07-01,...,Manchester United Football Club,40000000.0000,40000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False
1556968,4300788_820374,820374,985,985,2024-03-17,Kobbie Mainoo,FAC,2023.0000,England,2005-04-19,...,Manchester United Football Club,35000000.0000,35000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False

I need to subset this dataframe to show me all players who are currently playing for a Big5 league without losing the previous appearance data for these players in order to track their movement towards their current Big5 league team.

In [107]:
transfermarkt_df['competition_country'].value_counts()

competition_country
Spain          142335
Italy          138113
England        137178
France         122453
Germany        112978
nan            112384
Turkey         109538
Netherlands    107752
Portugal       107680
Greece          89401
Russia          87910
Belgium         86252
Scotland        74139
Denmark         64550
Ukraine         64306
Name: count, dtype: int64

In [108]:
Big5 = transfermarkt_df.loc[transfermarkt_df['competition_country'].isin(['Spain','Italy','England','France','Germany'])]
Big5.head()

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,...,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league
1929,2244655_113707,113707,969,1082,2012-07-28,Rémy Cabella,FRCH,2023.0000,France,1990-03-08,...,Lille Olympique Sporting Club Lille Métropole,4000000.0000,14000000.0000,Montpellier Hérault Sport Club,FR1,trophee-des-champions,France,FR1,europa,False
1930,2244655_127160,127160,969,1421,2012-07-28,Benjamin Stambouli,FRCH,2023.0000,France,1990-08-13,...,Stade de Reims,800000.0000,12000000.0000,Montpellier Hérault Sport Club,FR1,trophee-des-champions,France,FR1,europa,False
1931,2244655_139955,139955,969,969,2012-07-28,Emanuel Herrera,FRCH,2013.0000,Argentina,1987-04-13,...,Montpellier Hérault Sport Club,200000.0000,2500000.0000,Montpellier Hérault Sport Club,FR1,trophee-des-champions,France,FR1,europa,False
1932,2244655_17965,17965,1041,148,2012-07-28,Hugo Lloris,FRCH,2022.0000,France,1986-12-26,...,Tottenham Hotspur Football Club,2000000.0000,30000000.0000,Olympique Lyonnais,FR1,trophee-des-champions,France,FR1,europa,False
1933,2244655_187847,187847,1041,7775,2012-07-28,Yassine Benzia,FRCH,2021.0000,Algeria,1994-09-08,...,Hatayspor Futbol Kulübü,1000000.0000,5000000.0000,Olympique Lyonnais,FR1,trophee-des-champions,France,FR1,europa,False

In [109]:
Big5['club_name'].value_counts()

club_name
Futbol Club Barcelona             7613
Athletic Club Bilbao              7480
Sevilla Fútbol Club S.A.D.        7386
Real Madrid Club de Fútbol        7264
Chelsea Football Club             7249
                                  ...
GFC Ajaccio                        527
Luton Town Football Club           524
Eintracht Braunschweig             487
1. Fußballclub Heidenheim 1846     443
Le Havre Athletic Club             396
Name: count, Length: 169, dtype: int64

In [110]:
Big5_club_names = [
    'Futbol Club Barcelona',
    'Athletic Club Bilbao',
    'Sevilla Fútbol Club S.A.D.',
    'Real Madrid Club de Fútbol',
    'Chelsea Football Club',
    'Juventus Football Club',
    'Real Sociedad de Fútbol S.A.D.',
    'Valencia Club de Fútbol S. A. D.',
    'Manchester United Football Club',
    'Football Club Internazionale Milano S.p.A.',
    'Manchester City Football Club',
    'Real Club Celta de Vigo S. A. D.',
    'Società Sportiva Lazio S.p.A.',
    'Società Sportiva Calcio Napoli',
    'Associazione Calcio Fiorentina',
    'Associazione Calcio Milan',
    'Liverpool Football Club',
    'Arsenal Football Club',
    'Atalanta Bergamasca Calcio S.p.a.',
    'Tottenham Hotspur Football Club',
    'Torino Calcio',
    'Club Atlético de Madrid S.A.D.',
    'Udinese Calcio',
    'Associazione Sportiva Roma',
    'Everton Football Club',
    'West Ham United Football Club',
    'FC Bayern München',
    'Borussia Dortmund',
    'Real Betis Balompié S.A.D.',
    'UC Sampdoria',
    'Southampton FC',
    'Verein für Leibesübungen Wolfsburg',
    'Bayer 04 Leverkusen Fußball',
    'Getafe Club de Fútbol S.A.D. Team Dubai',
    'Bologna Football Club 1909',
    'Paris Saint-Germain Football Club',
    'Unione Sportiva Sassuolo Calcio',
    'Eintracht Frankfurt Fußball AG',
    'Stade Rennais Football Club',
    'Borussia Verein für Leibesübungen 1900 Mönchengladbach',
    'Montpellier Hérault Sport Club',
    'TSG 1899 Hoffenheim Fußball-Spielbetriebs GmbH',
    'Lille Olympique Sporting Club Lille Métropole',
    'Olympique Lyonnais',
    '1. Fußball- und Sportverein Mainz 05',
    'Genoa Cricket and Football Club',
    'Olympique de Marseille',
    'Newcastle United Football Club',
    'FC Augsburg 1907',
    'Olympique Gymnaste Club Nice Côte d\'Azur',
    'Villarreal Club de Fútbol S.A.D.',
    'Crystal Palace Football Club',
    'RCD Espanyol Barcelona',
    'Sport-Club Freiburg',
    'Association sportive de Monaco Football Club',
    'Sportverein Werder Bremen von 1899',
    'Football Club de Nantes',
    'Cagliari Calcio',
    'Levante UD',
    'Leicester City',
    'FC Schalke 04',
    'Verein für Bewegungsspiele Stuttgart 1893',
    'AS Saint-Étienne',
    'FC Girondins Bordeaux',
    'Hertha BSC',
    'Granada Club de Fútbol S.A.D.',
    'Stade de Reims',
    'Verona Hellas Football Club',
    'Toulouse Football Club',
    'Aston Villa Football Club',
    'Club Atlético Osasuna',
    'Rayo Vallecano de Madrid S.A.D.',
    'Football Club Lorient-Bretagne Sud',
    '1. Fußball-Club Köln',
    'RasenBallsport Leipzig',
    'Angers SCO',
    'Deportivo Alavés S.A.D.',
    'SD Eibar',
    'Brighton and Hove Albion Football Club',
    'Empoli Football Club S.r.l.',
    'Chievo Verona',
    'West Bromwich Albion',
    'Association Football Club Bournemouth',
    'Burnley Football Club',
    'Real Valladolid CF',
    'Racing Club de Strasbourg Alsace',
    'Fulham Football Club',
    'Wolverhampton Wanderers Football Club',
    'Málaga CF',
    'Parma Calcio 1913',
    'Watford FC',
    'Swansea City',
    'Football Club de Metz',
    'Stoke City',
    'EA Guingamp',
    'Stade brestois 29',
    'Real Club Deportivo Mallorca S.A.D.',
    'Elche CF',
    'Hamburger SV',
    'Hannover 96',
    'Deportivo de La Coruña',
    'Norwich City',
    'Sunderland AFC',
    '1. FC Union Berlin',
    'ESTAC Troyes',
    'Racing Club de Lens',
    'SC Bastia',
    'SM Caen',
    'Dijon FCO',
    'CD Leganés',
    'Cádiz Club de Fútbol S.A.D',
    'Girona Fútbol Club S. A. D.',
    'Unión Deportiva Las Palmas S.A.D.',
    'Unión Deportiva Almería S.A.D.',
    'Palermo FC',
    'Spezia Calcio',
    'Hull City',
    'Leeds United',
    'SPAL',
    'Brentford Football Club',
    'FC Crotone',
    'U.S. Salernitana 1919 S.r.l.',
    'Unione Sportiva Lecce',
    'AC Ajaccio',
    'Sheffield United Football Club',
    'Frosinone Calcio S.r.l.',
    'Fortuna Düsseldorf',
    'Verein für Leibesübungen Bochum 1848 – Fußballgemeinschaft',
    'Thonon Évian Grand Genève FC',
    'Clermont Foot 63',
    '1.FC Nuremberg',
    'Nîmes Olympique',
    'Amiens SC',
    'Sportverein Darmstadt 1898 e. V.',
    'Nottingham Forest Football Club',
    'SD Huesca',
    'Benevento Calcio',
    'Delfino Pescara 1936',
    'Huddersfield Town',
    'Sporting Gijón',
    'Associazione Calcio Monza',
    'Catania FC',
    'Cardiff City',
    'Queens Park Rangers',
    'Arminia Bielefeld',
    'FC Sochaux-Montbéliard',
    'AS Nancy-Lorraine',
    'Valenciennes FC',
    'SC Paderborn 07',
    'SpVgg Greuther Fürth',
    'FC Ingolstadt 04',
    'US Cremonese',
    'Wigan Athletic',
    'Venezia FC',
    'Real Zaragoza',
    'Middlesbrough FC',
    'AC Carpi',
    'Siena FC',
    'Reading FC',
    'Brescia Calcio',
    'Córdoba CF',
    'AJ Auxerre',
    'Cesena FC',
    'US Livorno 1915',
    'GFC Ajaccio',
    'Luton Town Football Club',
    'Eintracht Braunschweig',
    '1. Fußballclub Heidenheim 1846',
    'Le Havre Athletic Club']

In [111]:
#Subsetting transfermarkt_df to show players currently in Big 5 league teams
transfermarkt_big5 = transfermarkt_df.loc[transfermarkt['current_club_name'].isin(Big5_club_names)]

### 5. transfermarket_big5 data checks

In [112]:
transfermarkt_big5.head()

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,...,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league
4,2234421_122011,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,2016.0000,Norway,1992-07-25,...,Hull City,800000.0000,5000000.0000,NaN,NaN,europa-league-qualifikation,nan,nan,europa,False
24,2234404_14940,14940,660,367,2012-07-09,Razvan Rat,UKRS,2015.0000,Romania,1981-05-26,...,Rayo Vallecano de Madrid S.A.D.,100000.0000,6500000.0000,FC Shakhtar Donetsk,UKR1,ukrainian-super-cup,Ukraine,UKR1,europa,False
25,2234404_14942,14942,660,1390,2012-07-09,Darijo Srna,UKRS,2018.0000,Croatia,1982-05-01,...,Cagliari Calcio,800000.0000,17500000.0000,FC Shakhtar Donetsk,UKR1,ukrainian-super-cup,Ukraine,UKR1,europa,False
29,2234404_26267,26267,660,281,2012-07-09,Fernandinho,UKRS,2021.0000,Brazil,1985-05-04,...,Manchester City Football Club,600000.0000,32000000.0000,FC Shakhtar Donetsk,UKR1,ukrainian-super-cup,Ukraine,UKR1,europa,False
39,2234404_55735,55735,660,46,2012-07-09,Henrikh Mkhitaryan,UKRS,2023.0000,Armenia,1989-01-21,...,Football Club Internazionale Milano S.p.A.,6000000.0000,37000000.0000,FC Shakhtar Donetsk,UKR1,ukrainian-super-cup,Ukraine,UKR1,europa,False

In [113]:
transfermarkt_big5.tail()

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,...,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league
1556964,4300788_632349,632349,31,31,2024-03-17,Jarell Quansah,FAC,2023.0000,England,2003-01-29,...,Liverpool Football Club,12000000.0000,12000000.0000,Liverpool Football Club,GB1,fa-cup,England,GB1,europa,False
1556965,4300788_69633,69633,985,985,2024-03-17,Christian Eriksen,FAC,2023.0000,Denmark,1992-02-14,...,Manchester United Football Club,10000000.0000,100000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False
1556966,4300788_712117,712117,31,31,2024-03-17,Bobby Clark,FAC,2023.0000,England,2005-02-07,...,Liverpool Football Club,1000000.0000,1000000.0000,Liverpool Football Club,GB1,fa-cup,England,GB1,europa,False
1556967,4300788_811779,811779,985,985,2024-03-17,Alejandro Garnacho,FAC,2023.0000,Argentina,2004-07-01,...,Manchester United Football Club,40000000.0000,40000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False
1556968,4300788_820374,820374,985,985,2024-03-17,Kobbie Mainoo,FAC,2023.0000,England,2005-04-19,...,Manchester United Football Club,35000000.0000,35000000.0000,Manchester United Football Club,GB1,fa-cup,England,GB1,europa,False

In [114]:
#checking data accuracy
transfermarkt_big5.loc[transfermarkt_big5['player_name'].isin(['Bernardo Silva'])]

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,...,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league
209579,2382316_241641,241641,294,281,2014-01-25,Bernardo Silva,POCP,2023.0000,Portugal,1994-08-10,...,Manchester City Football Club,80000000.0000,100000000.0000,Sport Lisboa e Benfica,PO1,allianz-cup,Portugal,PO1,europa,False
258681,2340364_241641,241641,294,281,2014-05-10,Bernardo Silva,PO1,2023.0000,Portugal,1994-08-10,...,Manchester City Football Club,80000000.0000,100000000.0000,Sport Lisboa e Benfica,PO1,liga-portugal-bwin,Portugal,PO1,europa,False
268980,2482115_241641,241641,162,281,2014-08-17,Bernardo Silva,FR1,2023.0000,Portugal,1994-08-10,...,Manchester City Football Club,80000000.0000,100000000.0000,Association sportive de Monaco Football Club,FR1,ligue-1,France,FR1,europa,True
279664,2490846_241641,241641,162,281,2014-09-16,Bernardo Silva,CL,2023.0000,Portugal,1994-08-10,...,Manchester City Football Club,80000000.0000,100000000.0000,Association sportive de Monaco Football Club,FR1,uefa-champions-league,nan,nan,europa,False
282750,2482161_241641,241641,162,281,2014-09-21,Bernardo Silva,FR1,2023.0000,Portugal,1994-08-10,...,Manchester City Football Club,80000000.0000,100000000.0000,Association sportive de Monaco Football Club,FR1,ligue-1,France,FR1,europa,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542307,4095330_241641,241641,281,281,2024-02-24,Bernardo Silva,GB1,2023.0000,Portugal,1994-08-10,...,Manchester City Football Club,80000000.0000,100000000.0000,Manchester City Football Club,GB1,premier-league,England,GB1,europa,True
1545391,4285021_241641,241641,281,281,2024-02-27,Bernardo Silva,FAC,2023.0000,Portugal,1994-08-10,...,Manchester City Football Club,80000000.0000,100000000.0000,Manchester City Football Club,GB1,fa-cup,England,GB1,europa,False
1548102,4095345_241641,241641,281,281,2024-03-03,Bernardo Silva,GB1,2023.0000,Portugal,1994-08-10,...,Manchester City Football Club,80000000.0000,100000000.0000,Manchester City Football Club,GB1,premier-league,England,GB1,europa,True
1552129,4095356_241641,241641,281,281,2024-03-10,Bernardo Silva,GB1,2023.0000,Portugal,1994-08-10,...,Manchester City Football Club,80000000.0000,100000000.0000,Manchester City Football Club,GB1,premier-league,England,GB1,europa,True
1555537,4300787_241641,241641,281,281,2024-03-16,Bernardo Silva,FAC,2023.0000,Portugal,1994-08-10,...,Manchester City Football Club,80000000.0000,100000000.0000,Manchester City Football Club,GB1,fa-cup,England,GB1,europa,False

In [115]:
transfermarkt_big5.shape

(674242, 23)

In [116]:
transfermarkt_big5.columns

Index(['appearance_id', 'player_id', 'club_id', 'current_club_id', 'date',
       'player_name', 'competition_id', 'last_season',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'position',
       'foot', 'current_club_name', 'market_value_in_eur',
       'highest_market_value_in_eur', 'club_name', 'domestic_competition_id',
       'competition_name', 'competition_country', 'domestic_league_code',
       'confederation', 'is_major_national_league'],
      dtype='object')

In [117]:
#check for duplicates
transfermarkt_big5_dups = transfermarkt_big5 [transfermarkt_big5.duplicated()]
transfermarkt_big5_dups

Empty DataFrame
Columns: [appearance_id, player_id, club_id, current_club_id, date, player_name, competition_id, last_season, country_of_citizenship, date_of_birth, sub_position, position, foot, current_club_name, market_value_in_eur, highest_market_value_in_eur, club_name, domestic_competition_id, competition_name, competition_country, domestic_league_code, confederation, is_major_national_league]
Index: []

[0 rows x 23 columns]

In [118]:
#Data type correction of 'last_season' to int64
transfermarkt_big5.loc[:, 'last_season'] = transfermarkt_big5['last_season'].astype('int64')

In [119]:
#Reduce dataframe to include players in the Big 5 leagues between 2019 and 2024
Recent_big5 = transfermarkt_big5.loc[transfermarkt_big5['last_season'].isin([2024,2023,2022,2021,2020])]

In [120]:
Recent_big5.shape

(522583, 23)

In [121]:
Recent_big5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 522583 entries, 29 to 1556968
Data columns (total 23 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   appearance_id                522583 non-null  object
 1   player_id                    522583 non-null  object
 2   club_id                      522583 non-null  object
 3   current_club_id              522583 non-null  object
 4   date                         522583 non-null  object
 5   player_name                  522583 non-null  object
 6   competition_id               522583 non-null  object
 7   last_season                  522583 non-null  float64
 8   country_of_citizenship       522583 non-null  object
 9   date_of_birth                522583 non-null  object
 10  sub_position                 522583 non-null  object
 11  position                     522583 non-null  object
 12  foot                         522583 non-null  object
 13  current_club_name            522583 non-null  object
 14  market_value_in_eur          522555 non-null  float64
 15  highest_market_value_in_eur  522555 non-null  float64
 16  club_name                    521306 non-null  object
 17  domestic_competition_id      521306 non-null  object
 18  competition_name             522583 non-null  object
 19  competition_country          522583 non-null  object
 20  domestic_league_code         522583 non-null  object
 21  confederation                522583 non-null  object
 22  is_major_national_league     522583 non-null  bool
dtypes: bool(1), float64(3), object(19)
memory usage: 92.2+ MB

In [122]:
#check for missing data in each variable
missing_recent_values = Recent_big5.isnull().sum()
missing_recent_values

appearance_id                     0
player_id                         0
club_id                           0
current_club_id                   0
date                              0
player_name                       0
competition_id                    0
last_season                       0
country_of_citizenship            0
date_of_birth                     0
sub_position                      0
position                          0
foot                              0
current_club_name                 0
market_value_in_eur              28
highest_market_value_in_eur      28
club_name                      1277
domestic_competition_id        1277
competition_name                  0
competition_country               0
domestic_league_code              0
confederation                     0
is_major_national_league          0
dtype: int64

In [127]:
#Display data of missing values in 'market_value_in_eur'
nan_market_value_in_eur = Recent_big5[Recent_big5['market_value_in_eur'].isnull()==True]
nan_market_value_in_eur.head()

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,...,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league
1011490,3291941_554173,554173,148,148,2020-03-10,Malachi Fagan-Walcott,CL,2021.0000,England,2002-03-11,...,Tottenham Hotspur Football Club,NaN,NaN,Tottenham Hotspur Football Club,GB1,uefa-champions-league,nan,nan,europa,False
1018294,3219169_598958,598958,1132,1132,2020-06-22,Max Thompson,GB1,2020.0000,England,2002-02-09,...,Burnley Football Club,NaN,NaN,Burnley Football Club,GB1,premier-league,England,GB1,europa,True
1048514,3431936_783434,783434,1533,1533,2020-09-30,Unai Arieta,ES1,2020.0000,Spain,1999-06-16,...,SD Eibar,NaN,NaN,SD Eibar,ES1,laliga,Spain,ES1,europa,True
1050647,3441596_684299,684299,1533,1533,2020-10-03,Eñaut Mendia,ES1,2020.0000,Spain,1999-06-25,...,SD Eibar,NaN,NaN,SD Eibar,ES1,laliga,Spain,ES1,europa,True
1088354,3487491_783434,783434,1533,1533,2020-12-17,Unai Arieta,CDR,2020.0000,Spain,1999-06-16,...,SD Eibar,NaN,NaN,SD Eibar,ES1,copa-del-rey,Spain,ES1,europa,False

In [124]:
#Display data of missing values in 'club_name'
nan_club_name = Recent_big5[Recent_big5['club_name'].isnull()==True]
nan_club_name.head()

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,...,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league
511,2231994_40633,40633,419,252,2012-07-18,Milan Badelj,CLQ,2023.0000,Croatia,1989-02-25,...,Genoa Cricket and Football Club,800000.0000,15000000.0000,NaN,NaN,uefa-champions-league-qualifikation,nan,nan,europa,False
513,2231994_51471,51471,419,281,2012-07-18,Mateo Kovacic,CLQ,2023.0000,Croatia,1994-05-06,...,Manchester City Football Club,30000000.0000,45000000.0000,NaN,NaN,uefa-champions-league-qualifikation,nan,nan,europa,False
1308,2232009_40633,40633,419,252,2012-07-25,Milan Badelj,CLQ,2023.0000,Croatia,1989-02-25,...,Genoa Cricket and Football Club,800000.0000,15000000.0000,NaN,NaN,uefa-champions-league-qualifikation,nan,nan,europa,False
1310,2232009_51471,51471,419,281,2012-07-25,Mateo Kovacic,CLQ,2023.0000,Croatia,1994-05-06,...,Manchester City Football Club,30000000.0000,45000000.0000,NaN,NaN,uefa-champions-league-qualifikation,nan,nan,europa,False
2401,2246626_40633,40633,419,252,2012-08-01,Milan Badelj,CLQ,2023.0000,Croatia,1989-02-25,...,Genoa Cricket and Football Club,800000.0000,15000000.0000,NaN,NaN,uefa-champions-league-qualifikation,nan,nan,europa,False

Missing values to be discussed with a industy expert before deciding how to handle them.

In [125]:
#Export transfermarkt_big5
transfermarkt_big5.to_pickle(os.path.join(path, '02 Data','Prepared Data','transfermarkt_big5.pkl'))

In [126]:
#Export Recent_big5
Recent_big5.to_pickle(os.path.join(path, '02 Data','Prepared Data','Recent_big5.pkl'))

Missing values to be deleted - they form less than 5% of the dataframe 
1. If a player does not have a Market Value attached to his profile, he is not likley to be playing in the Big 5 league
2. Appearances for which a club_name or domestic_competition_id is missing seems to be for amateur leagues and can be disregarded

In [128]:
Recent_big5.shape

(522583, 23)

In [181]:
clean_recent_big5 = Recent_big5.dropna(subset=['market_value_in_eur', 'highest_market_value_in_eur', 'club_name', 'domestic_competition_id'])

In [182]:
clean_recent_big5.shape

(521278, 23)

In [183]:
#check for missing data in each variable
missing = clean_recent_big5.isnull().sum()
missing

appearance_id                  0
player_id                      0
club_id                        0
current_club_id                0
date                           0
player_name                    0
competition_id                 0
last_season                    0
country_of_citizenship         0
date_of_birth                  0
sub_position                   0
position                       0
foot                           0
current_club_name              0
market_value_in_eur            0
highest_market_value_in_eur    0
club_name                      0
domestic_competition_id        0
competition_name               0
competition_country            0
domestic_league_code           0
confederation                  0
is_major_national_league       0
dtype: int64

In [184]:
clean_recent_big5.head()

,appearance_id,player_id,club_id,current_club_id,date,player_name,competition_id,last_season,country_of_citizenship,date_of_birth,...,current_club_name,market_value_in_eur,highest_market_value_in_eur,club_name,domestic_competition_id,competition_name,competition_country,domestic_league_code,confederation,is_major_national_league
29,2234404_26267,26267,660,281,2012-07-09,Fernandinho,UKRS,2021.0000,Brazil,1985-05-04,...,Manchester City Football Club,600000.0000,32000000.0000,FC Shakhtar Donetsk,UKR1,ukrainian-super-cup,Ukraine,UKR1,europa,False
39,2234404_55735,55735,660,46,2012-07-09,Henrikh Mkhitaryan,UKRS,2023.0000,Armenia,1989-01-21,...,Football Club Internazionale Milano S.p.A.,6000000.0000,37000000.0000,FC Shakhtar Donetsk,UKR1,ukrainian-super-cup,Ukraine,UKR1,europa,False
48,2234404_75615,75615,660,506,2012-07-09,Douglas Costa,UKRS,2020.0000,Brazil,1990-09-14,...,Juventus Football Club,1500000.0000,55000000.0000,FC Shakhtar Donetsk,UKR1,ukrainian-super-cup,Ukraine,UKR1,europa,False
101,2222962_73185,73185,2477,2687,2012-07-13,Lucas Pérez,UKR1,2022.0000,Spain,1988-09-10,...,Cádiz Club de Fútbol S.A.D,800000.0000,17000000.0000,Karpaty Lviv (-2021),UKR1,premier-liga,Ukraine,UKR1,europa,False
289,2245041_42678,42678,2698,276,2012-07-14,Salvatore Bocchetti,RUSS,2020.0000,Italy,1986-11-30,...,Verona Hellas Football Club,200000.0000,14000000.0000,FC Rubin Kazan,RU1,russian-super-cup,Russia,RU1,europa,False

In [185]:
clean_recent_big5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 521278 entries, 29 to 1556968
Data columns (total 23 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   appearance_id                521278 non-null  object
 1   player_id                    521278 non-null  object
 2   club_id                      521278 non-null  object
 3   current_club_id              521278 non-null  object
 4   date                         521278 non-null  object
 5   player_name                  521278 non-null  object
 6   competition_id               521278 non-null  object
 7   last_season                  521278 non-null  float64
 8   country_of_citizenship       521278 non-null  object
 9   date_of_birth                521278 non-null  object
 10  sub_position                 521278 non-null  object
 11  position                     521278 non-null  object
 12  foot                         521278 non-null  object
 13  current_club_name            521278 non-null  object
 14  market_value_in_eur          521278 non-null  float64
 15  highest_market_value_in_eur  521278 non-null  float64
 16  club_name                    521278 non-null  object
 17  domestic_competition_id      521278 non-null  object
 18  competition_name             521278 non-null  object
 19  competition_country          521278 non-null  object
 20  domestic_league_code         521278 non-null  object
 21  confederation                521278 non-null  object
 22  is_major_national_league     521278 non-null  bool
dtypes: bool(1), float64(3), object(19)
memory usage: 92.0+ MB

In [138]:
#check for mixed data types
for col in clean_recent_big5.columns.tolist():
    weird = (clean_recent_big5 [[col]].map(type)!= clean_recent_big5[[col]].iloc[0].apply (type)).any(axis = 1)
    if len (clean_recent_big5[weird])>0:
        print(col)

In [139]:
col

'is_major_national_league'

In [143]:
#Data type correction of 'is_major_national_league' to boolean
clean_recent_big5.loc[:, 'is_major_national_league'] = clean_recent_big5['is_major_national_league'].astype(bool)

In [145]:
#Data type correction of 'last_season' to int64
clean_recent_big5.loc[:, 'last_season'] = clean_recent_big5['last_season'].astype('int64')

In [148]:
clean_recent_big5.dtypes

appearance_id                   object
player_id                       object
club_id                         object
current_club_id                 object
date                            object
player_name                     object
competition_id                  object
last_season                    float64
country_of_citizenship          object
date_of_birth                   object
sub_position                    object
position                        object
foot                            object
current_club_name               object
market_value_in_eur            float64
highest_market_value_in_eur    float64
club_name                       object
domestic_competition_id         object
competition_name                object
competition_country             object
domestic_league_code            object
confederation                   object
is_major_national_league          bool
dtype: object

In [152]:
clean_recent_big5['last_season'].value_counts()

last_season
2023.0000    347777
2022.0000     85843
2021.0000     50670
2020.0000     37016
Name: count, dtype: int64

In [186]:
#change float 'last_season' to integer
clean_recent_big5.loc[:, 'last_season'] = clean_recent_big5['last_season'].astype('int64')
clean_recent_big5['last_season'].value_counts()

last_season
2023.0000    347775
2022.0000     85826
2021.0000     50669
2020.0000     37008
Name: count, dtype: int64

In [187]:
#duplicates
clean_recent_big5_dups = clean_recent_big5[clean_recent_big5.duplicated()]
clean_recent_big5_dups

Empty DataFrame
Columns: [appearance_id, player_id, club_id, current_club_id, date, player_name, competition_id, last_season, country_of_citizenship, date_of_birth, sub_position, position, foot, current_club_name, market_value_in_eur, highest_market_value_in_eur, club_name, domestic_competition_id, competition_name, competition_country, domestic_league_code, confederation, is_major_national_league]
Index: []

[0 rows x 23 columns]

In [188]:
#export cleaned_recent_big5
clean_recent_big5.to_pickle(os.path.join(path, '02 Data','Prepared Data','Clean_recent_big5.pkl'))