# Assigning values to 'nan' country values

### Content List:
#### 1. Import Libararies and Data
#### 2. Check Data
#### 3. Assign missing country values

### 1. Import Libararies and Data

In [1]:
#Import Libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os
import folium
import json

#Remove scientific notation
pd.options.display.float_format='{:.4f}'.format

In [2]:
#Create data path
path = r'C:\Users\Utilizador\OneDrive\Documents\CareerFoundry - Data Analyst\Data Immersion\A6\24-03-2024 TransferMarkt'

In [25]:
#import data
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'big5leagues.pkl'))
players = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'players.csv'))

### 2. Check Data

In [4]:
df.columns

Index(['player_id', 'player_name', 'date_of_birth', 'age',
       'country_of_citizenship', 'country_of_citizen#', 'position',
       'position#', 'sub_position', 'sub_position#', 'foot', 'foot#',
       'current_club_name', 'current_club_name#', 'last_season',
       'market_value_in_eur', 'highest_market_value_in_eur',
       'competition_name', 'competition_country', 'comp_countries#', 'date',
       'domestic_league_code', 'club_name', 'club_name#',
       'current_club_country', 'current_league'],
      dtype='object')

### 3. Assign missing country values

In [5]:
#Create Germany Club list
germany_clubs = {
    '1. FC Union Berlin',
'1. Fußball- und Sportverein Mainz 05',
'1. Fußball-Club Köln',
'1. Fußballclub Heidenheim 1846',
'1.FC Nuremberg',
'Arminia Bielefeld',
'Bayer 04 Leverkusen Fußball',
'Borussia Dortmund',
'Borussia Verein für Leibesübungen 1900 Mönchengladbach',
'Eintracht Braunschweig',
'Eintracht Frankfurt Fußball AG',
'FC Augsburg 1907',
'FC Bayern München',
'FC Ingolstadt 04',
'FC Schalke 04',
'Fortuna Düsseldorf',
'Hamburger SV',
'Hannover 96',
'Hertha BSC',
'RasenBallsport Leipzig',
'SC Paderborn 07',
'SpVgg Greuther Fürth',
'Sport-Club Freiburg',
'Sportverein Darmstadt 1898 e. V.',
'Sportverein Werder Bremen von 1899',
'TSG 1899 Hoffenheim Fußball-Spielbetriebs GmbH',
'Verein für Bewegungsspiele Stuttgart 1893',
'Verein für Leibesübungen Bochum 1848 – Fußballgemeinschaft',
'Verein für Leibesübungen Wolfsburg',
    }

In [6]:
#Create Italy Club list
italy_clubs = {
    'AC Carpi',
'Associazione Calcio Fiorentina',
'Associazione Calcio Milan',
'Associazione Calcio Monza',
'Associazione Sportiva Roma',
'Atalanta Bergamasca Calcio S.p.a.',
'Benevento Calcio',
'Bologna Football Club 1909',
'Brescia Calcio',
'Cagliari Calcio',
'Catania FC',
'Cesena FC',
'Chievo Verona',
'Delfino Pescara 1936',
'Empoli Football Club S.r.l.',
'FC Crotone',
'Football Club Internazionale Milano S.p.A.',
'Frosinone Calcio S.r.l.',
'Genoa Cricket and Football Club',
'Juventus Football Club',
'Palermo FC',
'Parma Calcio 1913',
'SPAL',
'Siena FC',
'Società Sportiva Calcio Napoli',
'Società Sportiva Lazio S.p.A.',
'Spezia Calcio',
'Torino Calcio',
'U.S. Salernitana 1919 S.r.l.',
'UC Sampdoria',
'US Cremonese',
'US Livorno 1915',
'Udinese Calcio',
'Unione Sportiva Lecce',
'Unione Sportiva Sassuolo Calcio',
'Venezia FC',
'Verona Hellas Football Club',
}

In [7]:
#Create Spain Club list
spain_clubs = {
    'Athletic Club Bilbao',
'CD Leganés',
'Club Atlético Osasuna',
'Club Atlético de Madrid S.A.D.',
'Cádiz Club de Fútbol S.A.D',
'Córdoba CF',
'Deportivo Alavés S.A.D.',
'Deportivo de La Coruña',
'Elche CF',
'Futbol Club Barcelona',
'Getafe Club de Fútbol S.A.D. Team Dubai',
'Girona Fútbol Club S. A. D.',
'Granada Club de Fútbol S.A.D.',
'Levante UD',
'Málaga CF',
'RCD Espanyol Barcelona',
'Rayo Vallecano de Madrid S.A.D.',
'Real Betis Balompié S.A.D.',
'Real Club Celta de Vigo S. A. D.',
'Real Club Deportivo Mallorca S.A.D.',
'Real Madrid Club de Fútbol',
'Real Sociedad de Fútbol S.A.D.',
'Real Valladolid CF',
'Real Zaragoza',
'SD Eibar',
'SD Huesca',
'Sevilla Fútbol Club S.A.D.',
'Sporting Gijón',
'Unión Deportiva Almería S.A.D.',
'Unión Deportiva Las Palmas S.A.D.',
'Valencia Club de Fútbol S. A. D.',
'Villarreal Club de Fútbol S.A.D.',
}

In [8]:
#Create France Club list
france_clubs = {
    'AC Ajaccio',
'AJ Auxerre',
'AS Nancy-Lorraine',
'AS Saint-Étienne',
'Amiens SC',
'Angers SCO',
'Association sportive de Monaco Football Club',
'Clermont Foot 63',
'Dijon FCO',
'EA Guingamp',
'ESTAC Troyes',
'FC Girondins Bordeaux',
'FC Sochaux-Montbéliard',
'Football Club Lorient-Bretagne Sud',
'Football Club de Metz',
'Football Club de Nantes',
'GFC Ajaccio',
'Le Havre Athletic Club',
'Lille Olympique Sporting Club Lille Métropole',
'Montpellier Hérault Sport Club',
'Nîmes Olympique',
'Olympique Gymnaste Club Nice Côte dAzur',
'Olympique Lyonnais',
'Olympique de Marseille',
'Paris Saint-Germain Football Club',
'Racing Club de Lens',
'Racing Club de Strasbourg Alsace',
'SC Bastia',
'SM Caen',
'Stade Rennais Football Club',
'Stade brestois 29',
'Stade de Reims',
'Thonon Évian Grand Genève FC',
'Toulouse Football Club',
'Valenciennes FC',
}

In [9]:
#Create England Club list
england_clubs = {
    'Arsenal Football Club',
'Association Football Club Bournemouth',
'Aston Villa Football Club',
'Brentford Football Club',
'Brighton and Hove Albion Football Club',
'Burnley Football Club',
'Cardiff City',
'Chelsea Football Club',
'Crystal Palace Football Club',
'Everton Football Club',
'Fulham Football Club',
'Huddersfield Town',
'Hull City ',
'Leeds United',
'Leicester City',
'Liverpool Football Club',
'Luton Town Football Club',
'Manchester City Football Club',
'Manchester United Football Club',
'Middlesbrough FC',
'Newcastle United Football Club',
'Norwich City',
'Nottingham Forest Football Club',
'Queens Park Rangers',
'Reading FC',
'Sheffield United Football Club',
'Southampton FC',
'Stoke City ',
'Sunderland AFC',
'Swansea City',
'Tottenham Hotspur Football Club',
'Watford FC',
'West Bromwich Albion',
'West Ham United Football Club',
'Wigan Athletic',
'Wolverhampton Wanderers Football Club',
}

In [10]:
#Create Denmark Club list
denmark_clubs = {
  'Football Club København',
'Fodbold Club Midtjylland',
'Brøndby Idrætsforening',
'Fodbold Club Nordsjælland',
'Esbjerg fB',
'Aarhus Gymnastik Forening',
'AC Horsens',

}

In [11]:
#Create Greece Club list
greece_clubs = {
    'Olympiakos Syndesmos Filathlon Peiraios',
'Panthessalonikios Athlitikos Omilos Konstantinoupoliton',
'Panathinaikos Athlitikos Omilos',
'Athlitiki Enosi Konstantinoupoleos',
'A.G.S Asteras Tripolis'}

In [12]:
#Create belgium Club list
belgium_clubs = {
    'Koninklijke Racing Club Genk',
'Club Brugge Koninklijke Voetbalvereniging',
'Koninklijke Atletiek Associatie Gent',
'Royal Sporting Club Anderlecht',
'Royal Antwerp Football Club',
'Royale Union Saint-Gilloise',
'Royal Standard Club de Liège',
'Royal Charleroi Sporting Club',
'SV Zulte Waregem',
}

In [13]:
#Create Dutch Club list
dutch_clubs = {
   'AFC Ajax Amsterdam',
'Eindhovense Voetbalvereniging Philips Sport Vereniging',
'Alkmaar Zaanstreek',
'Feyenoord Rotterdam',
'Stichting Betaald Voetbal Vitesse Arnhem',
'FC Groningen',
'Sportclub Heerenveen',
'Football Club Twente',
'Football Club Utrecht',
'Willem II Tilburg',
'Heracles Almelo',
}

In [14]:
#Create Portugal Club list
portugal_clubs = {
    'Sport Lisboa e Benfica',
'Futebol Clube do Porto',
'Sporting Clube de Portugal',
'Sporting Clube de Braga',
'Vitória Sport Clube',
'FC Paços de Ferreira',
'CS Marítimo',
'Rio Ave Futebol Clube',
}

In [15]:
#Create Russia Club list
russia_clubs = {
    'AO FK Zenit Sankt-Peterburg',
'PFK CSKA Moskva',
'FK Spartak Moskva',
'FC Rubin Kazan',
'Футбольный клуб "Локомотив" Москва',
'FK Rostov',
'FK Krasnodar',
'FK Dinamo Moskva',
'Anzhi Makhachkala ( -2022)',
'Arsenal Tula',
}

In [16]:
#Create Turkey Club list
turkey_clubs = {
    'Galatasaray Spor Kulübü',
'Fenerbahçe Spor Kulübü',
'Beşiktaş Jimnastik Kulübü',
'Trabzonspor Kulübü',
'Adana Demirspor Kulübü',
'İstanbul Başakşehir Futbol Kulübü',
'Bursaspor',
'Kardemir Karabükspor',
}

In [17]:
#Create Ukraine Club list
ukraine_clubs = {
    'FC Shakhtar Donetsk',
'Futbolniy Klub Dynamo Kyiv',
'Dnipro Dnipropetrovsk (-2020)',
'FK Zarya Lugansk',
'Sport Klub Dnipro-1',
'Vorskla Poltava',
'FK Oleksandriya',
}

In [18]:
#Create UK Club list
uk_clubs = {
    'The Celtic Football Club',
'Rangers Football Club',
'Aberdeen Football Club',
'Hull City',
'Hibernian Football Club',
'Motherwell Football Club',
'Inverness Caledonian Thistle FC',
}

In [19]:
df['competition_country'].value_counts()

competition_country
Spain          82790
England        80443
Italy          78245
Germany        70332
France         60566
nan            43767
Netherlands    12105
Belgium         8359
Portugal        7573
Turkey          3644
Denmark         3413
Russia          3328
Scotland        2562
Ukraine         1672
Greece          1407
Name: count, dtype: int64

In [20]:
# Function to replace 'nan' with country names based on club_name
def replace_nan_with_country(club_name):
    if club_name in germany_clubs:
        return 'Germany'
    elif club_name in italy_clubs:
        return 'Italy'
    elif club_name in spain_clubs:
        return 'Spain'
    elif club_name in france_clubs:
        return 'France'
    elif club_name in england_clubs:
        return 'United Kingdom'
    elif club_name in belgium_clubs:
        return 'Belgium'
    elif club_name in denmark_clubs:
        return 'Denmark'
    elif club_name in greece_clubs:
        return 'Greece'
    elif club_name in dutch_clubs:
        return 'Netherlands'
    elif club_name in portugal_clubs:
        return 'Portugal'
    elif club_name in russia_clubs:
        return 'Russia'
    elif club_name in turkey_clubs:
        return 'Turkey'
    elif club_name in ukraine_clubs:
        return 'Ukraine'
    elif club_name in uk_clubs:
        return 'United Kingdom'
    else:
        return 'nan'

# Apply the function to replace 'nan' values in competition_club column
df['competition_country'] = df.apply(lambda row: replace_nan_with_country(row['club_name']) if row['competition_country'] == 'nan' else row['competition_country'], axis=1)

In [21]:
df['competition_country'].value_counts()

competition_country
Spain             91627
Italy             85482
England           80443
Germany           78143
France            65592
Netherlands       13795
Belgium            9409
Portugal           8877
United Kingdom     8647
Turkey             4076
Denmark            3881
Russia             3828
Scotland           2562
Ukraine            2198
Greece             1646
Name: count, dtype: int64

In [22]:
#display and address missing countries
pd.set_option('display.max_rows', None)
nan_rows = df[df['competition_country'] == 'nan']

In [23]:
nan_rows['club_name'].value_counts()

Series([], Name: count, dtype: int64)

In [24]:
#Export 
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'big5leagues_cleaned.pkl'))